* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
h1,h2,h3,h4{
  font-family: 'Old Standard TT', serif;
  text-transform: uppercase;
  color: #383333;
}
h1{
  font-size:35px;
}
h4{
  font-size: 20px;
}
a:hover {
  color: #4f4f4f;
  text-decoration: none;
}
a:link{
  color: #007bff;
}


body  {

  font-family: 'Open Sans', sans-serif;



}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header-container{
  display: flex;
}
.row {
  width: 100%;
  flex-wrap: wrap;
}
.portfolio{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 40px;
  max-width: 100%;
}
.title{
  width: 50%;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 15px;
  text-transform: uppercase;
  text-align: right;

}
.logo{
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;


}
.navbar{
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 25px;
}
.nav{
  padding-left: 10px;
}
#midimg{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
.portfolio-title {
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 5px;
}

.project_img{
  max-width: 100%;
  border-radius: 15px;
  padding-bottom: 20px;
}
.projects {
  padding-left: 20px;
  text-align: center;
}
.projects p {
font-size: 20px;
  }
.my_footer{
  background-color:#f6f6f6;
  max-width: 100%;
  margin: 10px;
  text-align: center;
}

.footerimg{
  width:130px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
@media(max-width: 480px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  .projects p {
  font-size: 15px;
    }
    .projects a {
      font-size: 13px;
    }

}
